<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head.html :: headFragment">
        <title id="tituloPagina">PREDER | Revisiones</title>
    </head>
    <body>

        <button class="hamburger">
            <span class="material-symbols-outlined menu-icon" id="menu-icon">menu</span>
            <span class="material-symbols-outlined close-icon" id="close-icon">close</span>
        </button>

        <nav th:replace="fragments/navbar_profesional.html :: navbar"></nav>

        <main class="principal">
            <h1>Revisiones Ingresadas</h1>
            <h2>Seleccione una revision para responderla (<span class="material-symbols-outlined table__icon">checklist_rtl</span>)
            </h2>

            <table id="users" class="main__table responsive nowrap" width="100%">
                <thead>
                    <tr>
                        <th>ID Revision</th>
                        <th>Visita</th>
                        <th>Estado</th>
                        <th>Detalle</th>
                        <th>Responder</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="revision : ${listaRevisiones}">

                        <td th:text="${revision.checklistId}">11</td>
                        <td th:text="${revision.inspection.comment}">11</td>
                        <td th:text="${revision.checklistStatus}">11</td>
                        <td th:text="${revision.details}">11</td>
                        <td>
                            <a th:href="@{/revision/profesional/editar/{idRevision}(idRevision = ${revision.checklistId})}"><span
                                    class="material-symbols-outlined table__icon">checklist_rtl</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </main>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript"
                src="https://cdn.datatables.net/v/dt/dt-1.12.1/r-2.3.0/sl-1.4.0/datatables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#users').DataTable({


                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                        }
                    }
                );
            });
        </script>
        <script th:src="@{/js/script.js}"></script>
    </body>
</html>

