<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="fragments/head.html :: headFragment">
        <title id="tituloPagina">PREDER | Resumen</title>
    </head>

    <body>

        <button class="hamburger">
            <span class="material-symbols-outlined menu-icon" id="menu-icon">menu</span>
            <span class="material-symbols-outlined close-icon" id="close-icon">close</span>
        </button>

        <nav th:replace="fragments/navbar_profesional.html :: navbar"></nav>

        <main class="principal">
            <h1>Bienvenido(a), <span th:text="${usuarioNombre}" class="txt-bold"></span></h1>
            <h2 th:text="${'Resumen de actividades y solicitudes a dia ' + #dates.format(#dates.createNow(), 'dd/MM/yyyy, HH:mm') +' hrs.'}"></h2>

            <div class="box__main">

                <div class="widget__container">
                    <div class="widget__principal">
                        <h1 th:text="${cantidadVisitas}" class="widget__title">99</h1>
                        <h2 th:if="${cantidadVisitas == 1}" class="widget__info">Visita Registrada</h2>
                        <h2 th:if="${cantidadVisitas != 1}" class="widget__info">Visitas Registradas</h2>
                    </div>
                    <p class="widget__detalles">Sin Implementación</p>
                    <span class="material-symbols-outlined widget__icon">nest_doorbell_visitor</span>
                </div>

                <div class="widget__container">
                    <div class="widget__principal">
                        <h1 th:text="${cantidadRevisiones}" class="widget__title">3</h1>
                        <h2 th:if="${cantidadRevisiones == 1}" class="widget__info">Revision disponible</h2>
                        <h2 th:if="${cantidadRevisiones != 1}" class="widget__info">Revisiones disponibles</h2>
                    </div>
                    <p class="widget__detalles">Sin Implementación</p>
                    <span class="material-symbols-outlined widget__icon">domain_verification</span>

                </div>
                <div class="widget__container">
                    <div class="widget__principal">
                        <h1 th:text="${cantidadAsesorias}" class="widget__title">3</h1>
                        <h2 th:if="${cantidadAsesorias == 1}" class="widget__info">Solicitud de asesoría</h2>
                        <h2 th:if="${cantidadAsesorias != 1}" class="widget__info">Solicitudes de asesoría</h2>
                    </div>
                    <p class="widget__detalles">Sin Implementación</p>
                    <span class="material-symbols-outlined widget__icon">tips_and_updates</span>

                </div>
                <div class="widget__container">
                    <div class="widget__principal">
                        <h1 th:text="${cantidadClientes}" class="widget__title">2</h1>
                        <h2 th:if="${cantidadClientes == 1}" class="widget__info">Cliente notificado</h2>
                        <h2 th:if="${cantidadClientes != 1}" class="widget__info">Clientes notificados</h2>
                    </div>

                    <p class="widget__detalles">Sin Implementación</p>
                    <span class="material-symbols-outlined widget__icon">support_agent</span>
                </div>

            </div>
        </main>

        <script th:src="@{/js/script.js}"></script>
    </body>

</html>