<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head.html :: headFragment">
        <title id="tituloPagina">PREDER | Asignar revisión</title>
    </head>
    <body>

        <button class="hamburger">
            <span class="material-symbols-outlined menu-icon" id="menu-icon">menu</span>
            <span class="material-symbols-outlined close-icon" id="close-icon">close</span>
        </button>

        <nav th:replace="fragments/navbar_administrativo.html :: navbar"></nav>

        <main class="principal">
            <h1>Visitas - Asignar revisión</h1>
            <h2>Utilice la lista de visitas para asignar (<span
                    class="material-symbols-outlined table__icon">add_circle</span>) una nueva revisión</h2>

            <table id="users" class="main__table responsive nowrap" width="100%">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Profesional</th>
                        <th>Día</th>
                        <th>Hora</th>
                        <th>Lugar</th>
                        <th>Comentario</th>
                        <th>Asignar</th>

                    </tr>
                </thead>

                <tbody>
                    <tr th:each="visita : ${listaVisitas}">
                        <td th:text="${visita.inspectedCustomer.user.name}"></td>
                        <td th:text="${visita.inspectorProfessional.user.name}"></td>
                        <td th:text="${visita.day}"></td>
                        <td th:text="${visita.time}"></td>
                        <td th:text="${visita.place}"></td>
                        <td th:text="${visita.comment}"></td>
                        <td>
                            <a th:href="@{/revision/administrativo/nuevo/{idVisita}(idVisita=${visita.inspectionId})}"><span
                                    class="material-symbols-outlined table__icon">add_circle</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>


        </main>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript"
                src="https://cdn.datatables.net/v/dt/dt-1.12.1/r-2.3.0/sl-1.4.0/datatables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#users').DataTable({


                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                        }
                    }
                );
            });
        </script>
        <script th:src="@{/js/script.js}"></script>
    </body>
</html>

