<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

    <head th:include="fragments/head.html :: headFragment">
        <title id="tituloPagina">PREDER | Bienvenido</title>
    </head>

    <body>
        <div class="container">

        </div>
        <nav class="main__navbar">
            <ul>
                <li>Acerca de Nosotros</li>
                <li>Nuestros Servicios</li>
            </ul>
        </nav>

        <div class="hero">
            <div class="hero__text">
                <h1 class="hero__title">PREDER</h1>
                <h2 class="hero__sub">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>

            </div>
            <a th:if="${nameOfRole.equals('')}" th:href="@{/login}" class="btn btn-hero btn-l">ingresar</a>
            <a th:if="${nameOfRole.equals('ROLE_CLIENTE')}" th:href="@{/resumen/cliente}" class="btn btn-hero btn-l">ingresar</a>
            <a th:if="${nameOfRole.equals('ROLE_ADMIN')}" th:href="@{/resumen/administrativo}"
               class="btn btn-hero btn-l">ingresar</a>
            <a th:if="${nameOfRole.equals('ROLE_PROFE')}" th:href="@{/resumen/profesional}" class="btn btn-hero btn-l">ingresar</a>
        </div>
        <footer>
            Los Huasos TECH 2022.
        </footer>

        <script th:src="@{/js/script.js}"></script>
    </body>

</html>